.products {
    .info{
        display: flex;    
        gap: 30px;     
        margin-bottom: 32px;
        
        button{
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
